*.gypcmd
*.mk
*.ncb
*.opensdf
*.orig
*.props
*.pyc
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
# Settings directory for eclipse
/src/.settings
.checkstyle
cscope.*
Session.vim
tags
Thumbs.db
v8.log
/src/_out
/src/base/base_unittests_run.xml
/src/build/Debug
/src/build/Debug_x64
/src/build/gomacc.lock
/src/build/ipch/
/src/build/Release
/src/build/Release_x64
/src/build/win_toolchain.json
/src/build/util/LASTCHANGE*
/src/build/util/support
/src/build/x64/
/src/build/linux/bin/eu-strip
/src/out*